<!DOCTYPE html>
<html>
<head>
	<title>Brackette</title>
	<link rel='shortcut icon' href='/assets/img/logo-favicon.ico' type='image/x-icon'/ >
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap-social/bootstrap-social.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
	<script src="/static/bootstrap-validator/dist/validator.min.js"></script>
	<script src="/static/webcomponentsjs/webcomponents-lite.js"></script>
	<link rel="import" href="/assets/elements/brackette-header.html">
	<noscript>
	    <style type="text/css">
	        .container {display:none;}
	    </style>
	    <div class="alert alert-danger">
	    	<h2>Please enable Javascript to use this site.</h2>
	    </div>
	</noscript>
</head>
<body unresolved>
<% include nav %>
<br>