<header>
	<nav class="navbar navbar-yellow">
		<div class="container">
			<div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".theNavigation">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand logo-home" href="/"><i class="mdi mdi-flag"></i>Brackette</a>
		    </div>
	        <div class="collapse navbar-collapse theNavigation">
		       	<ul class="nav navbar-nav navbar-right">
			        <li><a href="/register"><i class="mdi mdi-clipboard-account mdi-24px"></i> Register</a></li>
			        <li><a href="/login"><i class="mdi mdi-account-circle mdi-24px"></i> Login</a></li>
			        <li><a href="/login"><i class="mdi mdi-facebook mdi-24px"></i></a></li>
		      	</ul>
	      	</div> 
		</div>
		<div class="container">
		    <div class="collapse navbar-collapse theNavigation">
		    	<ul class="nav navbar-nav menu-items">
		    		<li><a href="#">Browse</a></li>
       			 	<li><a href="#">Your Events</a></li>
		    	</ul>
		    </div>
		</div>
		
	</nav>
</header>