<% include partials/header %>
<div class="container">

    <div class="jumbotron text-center">
        
	<h1><span>Welcome to Brackette!</span></h1>
	<p>As you can see there's not much here...but you got Brackette up and running! Be sure to test out <a href="/api/users">this link</a> to assure the database and API is working correctly! </p>
    </div>

</div>
<% include partials/footer %>

