<% include partials/header %>

<!--If a include is present, this means that this ejs file is it's own page, meaning there must be a controller for it. -->
    <div class="container">
        <div>
            Create new tournaments.
        </div>
    </div>

<% include partials/footer %>