<% include partials/header %>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><i class="mdi mdi-login-variant"></i> Reset Password</h1>
    <div class="alert alert-danger">Do not reset password, errors will occur. Email is offline !</div>
    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %> 
    <% if (successMessage.length > 0) { %>
        <div class="alert alert-success"><%= successMessage %></div>
    <% } %>
    <p>Enter your E-mail so that you may receive a link to change your password.</p>
    <!-- Reset FORM -->
    <form action="/password" method="post" data-toggle="validator" role="form">
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email" data-error="The email address is invalid." required>
            <div class="help-block with-errors"></div>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Reset</button>
    </form>

    <hr>

    <p>Need an account? <a href="/register">Register</a></p>
    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

</div>

<% include partials/footer %>
