<!DOCTYPE html>
<html>
<head>
	<title>Polymer Playground-This will be deleted eventually.</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/bootstrap/dist/css/bootstrap-theme.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="/static/mdi/css/materialdesignicons.min.css">
    <link rel="import" href="/static/paper-button/paper-button.html">
    <link rel="import" href="/static/iron-form/iron-form.html">
    <link rel="import" href="/static/paper-input/paper-input.html">
    <link rel="import" href="/static/gold-email-input/gold-email-input.html">
    <!-- <link rel="stylesheet" href="/assets/css/style.css"> -->
    <script src="/static/webcomponentsjs/webcomponents-lite.js"></script>
    <script src="/static/jquery/dist/jquery.min.js"></script>
    <script src="/static/bootstrap/dist/js/bootstrap.min.js"crossorigin="anonymous"></script>
    <style type="text/css">
    #submitButton{
        color: white;
    }
    </style>
</head>
<body unresolved>
    <div class="container">

    <register-form></register-form>
    </div>
</body>
<dom-module id="register-form">
  <template>
      <form is="iron-form" id="form" method="post" action="/register" on-iron-form-response="responseHandler">
        <paper-input id="nameField" label="Name" name="name" required auto-validate maxlength="75" error-message="Please enter a valid name"></paper-input>
        <gold-email-input id="emailField" label="E-mail" name="email" required auto-validate maxlength="75" error-message="Please enter a valid E-mail"></gold-email-input>
        <paper-input label="Password" type="password" required name="password" minlength="6" id="passwordField"></paper-input>
        <paper-input label="Re-type Password" type="password" required minlength="6" id="passwordFieldAgain"></paper-input>
        <br>
        <paper-button id="submitButton" class="btn btn-warning btn-lg" raised disabled on-tap="submitForm">Submit</paper-button>
      </form>
  </template>
</dom-module>
<script>
    Polymer({
        is: 'register-form',
        ready: function(){
           this._validateField();
        },
        submitForm: function(e){
            if(!form.validate()){
                submitButton.disabled = true;
                return;
            }
            form.submit();
        },
        responseHandler: function(e){
            console.dir(e);
        },


        /* 'Private' functions */
        _validateField: function(){         
            form.addEventListener('keyup',function(){
                if(passwordField.value.length < 5 || passwordFieldAgain.value.length < 5){
                    passwordFieldAgain.errorMessage = "Password is too short!";
                    passwordField.errorMessage = "Password is too short!";
                }
                if(passwordField.value != passwordFieldAgain.value){
                    passwordFieldAgain.invalid = true;
                    passwordField.invalid = true;
                    passwordFieldAgain.errorMessage = "Password is does not match!";
                    passwordField.errorMessage = "Password is does not match!";
                    return;
                }
                if(form.validate()){
                    submitButton.disabled = false;
                }else{
                    submitButton.disabled = true;
                }
            });
           

        },

    });


</script>
</html>