<% include partials/header %>

<div class="container">

    <div class="page-header text-center">
        <h1><i class="mdi mdi-anchor"></i> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <div class="col-sm-12">
            <brackette-profile user="<%= JSON.stringify(user) %>" ></brackette-profile>
        </div>

    </div>

</div>

<% include partials/footer %>

