<% include partials/header %>

<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><i class="mdi mdi-login-variant"></i> Reset Password</h1>
 
    
    <!-- LOGIN FORM -->
    <form action="/reset/<%=token%>" method="post" data-toggle="validator" role="form">
        <div class="form-group">
            <label>New Password</label>

            <input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="Password" name="password" required>
            <div class="help-block">Minimum of 6 characters</div>

            <label>Re-Enter New Password</label>
            <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Whoops, these don't match!" placeholder="Confirm" required>
            <div class="help-block with-errors"></div>
        </div>
        <button type="submit" class="btn btn-warning btn-lg">Reset</button>
    </form>

</div>

</div>


<% include partials/footer %>