<div class="container">
    <a href="/tournaments/create">
        <paper-button raised class="brackette-button" id="create" class="custom indigo newTournamentButton">Create a New Tournament</paper-button>
    </a>
    Welcome to the tournament page!
    <br>
    <i>Here we would display "featured" tournaments ???</i>
    <br>
    <i>Allow user to create new tournaments if they are logged in.</i>
</div>