.yellow{
    background-color: #ffeb3b;
    border: 0;
	-webkit-box-shadow: 0px 7px 18px -5px rgba(0,0,0,0.66);
	-moz-box-shadow: 0px 7px 18px -5px rgba(0,0,0,0.66);
	box-shadow: 0px 7px 18px -5px rgba(0,0,0,0.66);
}
